<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="OpenAgora" Manufacturer="OpenAgora contributors"
           Version="$(var.Version)" Language="1033" Scope="perMachine"
           UpgradeCode="722C59D1-724D-4E74-BFA6-C3BD966EC922" InstallerVersion="500">
    <!-- Keep UpgradeCode stable across releases. Removal happens inside the transaction. -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of OpenAgora is already installed."
                  Schedule="afterInstallInitialize" />
    <MediaTemplate EmbedCab="yes" />
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="OpenAgora">
        <Component Id="CliExecutable" Guid="C4A6AA04-D3C1-4834-84AF-FD6E075841D3" Bitness="always64">
          <File Id="OpenAgoraExe" Source="$(var.BinaryPath)" Name="openagora.exe" KeyPath="yes" />
          <Environment Id="SystemPath" Name="PATH" Value="[INSTALLFOLDER]" Action="set"
                       Part="last" System="yes" Permanent="no" />
        </Component>
        <Component Id="MitLicense" Guid="6683B974-E83E-4B38-B2A1-97937C86FB84" Bitness="always64">
          <File Source="$(var.LicensePath)" Name="LICENSE.txt" KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>
    <Feature Id="Complete" Title="OpenAgora CLI" Level="1">
      <ComponentRef Id="CliExecutable" />
      <ComponentRef Id="MitLicense" />
    </Feature>
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/sanjaykatta1/openagora" />
    <Property Id="ARPNOMODIFY" Value="1" />
  </Package>
</Wix>
